.ans {
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.5);
  margin: 25px auto 15px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  height: fit-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
input {
  padding-left: 5px;
  border: none;
  outline: none;
  font-size: 20px;
}

.ans > h3 {
  font-size: 28px;
  color: hsl(34, 56%, 52%);
  text-align: center;
  margin-bottom: 10px;
}

.buttonss {
  display: flex;
  justify-content: end;
  margin-right: 10%;
}

@media (max-width: 515px) {
  .ans {
    width: 100%;
    /* margin: auto; */
  }
}
